#all
{
    background-color:white;
}

#sector_command
{
    background-color:aquamarine;
    padding: 4px;
    margin: 4px;
}

#sector_player
{
    display: flex;
    background-color: forestgreen;
    padding: 4px;
    margin: 4px;
}

#sector_global
{
    display: flex;
    background-color: forestgreen;
    padding: 4px;
    margin: 4px;
}

/* 共通フォーマット */
.common_frame
{
    color: white;
    border: 2px solid #00ff88;
    padding: 5px 12px;
    margin: 2px 2px;
    border-radius: 15px;
    box-shadow: 0 0 12px #00ff88;
    background-color: #111;
}

.common_dev_hide
{
    display: none;    
}

/* 全体関連 */
.global_forced_bet_group
{
    width: 96px;
}

.global_forced_bet_blind_label
{
    font-size: xx-small;
}
.global_forced_bet_blind_value
{
    text-align: center;
}
.global_forced_bet_anti_label
{
    font-size: xx-small;
}
.global_forced_bet_anti_value
{
    text-align: center;
}

.global_hand_count_value
{
    width: 48px;
}
.global_hand_count_label
{
    font-size: xx-small;
}
.global_hand_count_contents
{
    justify-content: center; /* ← 横方向中央（任意） */
}
.global_hand_count_number
{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.global_hand_count_phase
{
    text-align: center;
    font-weight: bold;
    font-size: xx-small;
}

.global_community_cards_value
{
    width: 224px;
}
.global_community_cards_label
{
    font-size: xx-small;
}
.global_community_cards_contents
{
    display: flex;
}
.global_community_cards_base
{
    background: #222;
    border-radius: 8px;
    margin-top: 4px;
    margin-left: 5px;
    display: flex;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: bold;
    padding: 2px 5px;
    justify-content: center;
}
.global_deck_label
{
    font-size: xx-small;
}
.global_community_cards_suit
{
}
.global_community_cards_card
{
    vertical-align: middle;
    width: 8px;
}
.global_community_cards_card_used
{
    margin-left: 1px;
    filter: brightness(50%); /* 数値を下げるほど暗くなる */
}
.global_community_cards_card_in_deck
{
    margin-left: 1px;
}


/* プレイヤー関連 */
.panel_player
{
    width: 128px;
}

.panel_player_name_value
{
    background: #222;
    color: white;
    padding: 6px 0;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: inset 0 0 4px #000;
}

.panel_player_winrate_value
{
    color: #bb7;
    text-align: center;
    font-size: xx-small;
    height: 15px;
}

.panel_player_hand_value
{
    background: #222;
    border-radius: 8px;
    display: flex;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    justify-content: center;
}

.panel_player_hand_image_style
{
    width: 32px;
    height: 64px;
    margin: 2px 1px;
}

.panel_player_log_hand_image_style
{
    width: 8px;
    height: 16px;
    margin: 1px 1px;
}

.panel_player_command
{
    background: #444;
}

.panel_player_log_value
{
    color: #999;
    background: #333;
    font-size: x-small;
    margin-top: 4px;
}

.panel_player_log_unit
{
    margin: 1px;
    padding: 2px;
    background-color: #444;
    display: flex;
}

.panel_player_log_count
{
    width: 20%;
}

.panel_player_log_hand
{
    vertical-align: middle;
    width: 20%;
}

.panel_player_log_action
{
    font-size: xx-small;
}

.panel_player_position_value
{
    background: #222;
    color: #ddd;
    margin-top: 2px;
    margin-bottom: 4px;
    border-radius: 8px;
    box-shadow: inset 0 0 4px #000;
    display: flex;
}

.panel_player_position_name
{
    width: 80%;
    text-align: center;
    font-weight: bold;
}

.panel_player_position_dealer_button
{
    width: 10%;
    background: #222;
}

.panel_player_position_dealer_button_have
{
    background-image: url("../Assets/UI/dealer_button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.panel_player_position_exist
{
    width: 10%;
    background: #222;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.panel_player_position_exist_alive
{
    background-image: url("../Assets/UI/player_alive.png");
}

.panel_player_position_exist_seat_open
{
    background-image: url("../Assets/UI/player_seatopen.png");
}

.panel_player_action_input
{
    color: #999;
    background: #333;
    font-size: x-small;
    margin-top: 4px;
}

.panel_player_command_group
{
    display: flex;
    justify-content: center; /* ← 横方向の中央寄せ */
}

.panel_player_command_button_view
{
    margin-right: 3px;
    padding: 1px 1px;
    background-color: #333;
    color: #999;
    border: none;
    border-radius: 2px;
    font-size: xx-small;
    cursor: pointer;
}
.panel_player_command_button_view:hover 
{
    background-color: #555;
    color: #aaa;
}
.panel_player_command_button_view:active 
{
    transform: scale(0.95);
    background-color: #552;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.panel_player_command_input_view
{
    margin-right: 3px;
    padding: 1px 1px;
    border-radius: 2px;
    border: none;
    font-size: xx-small;
    background-color: #333;
    color: #999;
    width: 64px;
}


/* probe informations */
.panel_probe_information_rssi_group
{
    display: flex;
    font-size: xx-small;
    color: #999;
}
.panel_probe_information_rssi_label
{
    color: #999;
    font-size: xx-small;
}
.panel_probe_information_rssi_value
{
    color: #999;
    font-size: xx-small;
}
.panel_probe_information_threshold
{
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 1px 1px;
    border-radius: 2px;
    border: none;
    background-color: #333;
    width: 20px;
    color: #999;
    font-size: xx-small;
}
