#all
{
    background-color:white;
}

#sector_command
{
    background-color:aquamarine;
    padding: 4px;
    margin: 4px;
}

#sector_player
{
    display: flex;
    background-color: forestgreen;
    padding: 4px;
    margin: 4px;
}

/* 全体関連 */
#sector_global
{
    display: flex;
    background-color: forestgreen;
    padding: 4px;
    margin: 4px;
}

.global_forced_bet_group
{
    color: white;
    border: 2px solid #00ff88;
    padding: 10px 12px;
    margin: 2px 2px;
    border-radius: 15px;
    box-shadow: 0 0 12px #00ff88;
    background-color: #111;
    width: 96px;
}

.global_forced_bet_blind_label
{
    font-size: xx-small;
}
.global_forced_bet_blind_value
{
    text-align: center;
}
.global_forced_bet_anti_label
{
    font-size: xx-small;
}
.global_forced_bet_anti_value
{
    text-align: center;
}


.global_hand_count_value
{
    color: white;
    border: 2px solid #00ff88;
    padding: 10px 12px;
    margin: 2px 2px;
    border-radius: 15px;
    box-shadow: 0 0 12px #00ff88;
    background-color: #111;
    width: 48px;
}
.global_hand_count_label
{
    font-size: xx-small;
}
.global_hand_count_contents
{
    display: flex;
    align-items: center;     /* ← 縦方向の中央揃え */
    height: 70px;           /* 高さは必須 */
    justify-content: center; /* ← 横方向中央（任意） */
}
.global_hand_count_number
{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.global_community_cards_value
{
    color: white;
    border: 2px solid #00ff88;
    padding: 5px 12px;
    border-radius: 15px;
    box-shadow: 0 0 12px #00ff88;
    background-color: #111;
    width: 224px;
}
.global_community_cards_label
{
    font-size: xx-small;
}
.global_community_cards_contents
{
    display: flex;
}
.global_community_cards_base
{
    background: #222;
    border-radius: 8px;
    margin-top: 4px;
    margin-left: 5px;
    display: flex;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: bold;
    padding: 2px 5px;
    justify-content: center;
}

.global_community_cards_flop
{
}
.global_community_cards_turn
{

}
.global_community_cards_river
{

}

/* プレイヤー関連 */
.panel_player
{
    border: 2px solid #00ff88;
    padding: 10px 12px;
    margin: 2px 2px;
    border-radius: 15px;
    box-shadow: 0 0 12px #00ff88;
    background-color: #111;
    width: 128px;
}

.panel_player_name_value
{
    background: #222;
    color: white;
    padding: 6px 0;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: inset 0 0 4px #000;
}

.panel_player_hand_value
{
    background: #222;
    border-radius: 8px;
    display: flex;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    justify-content: center;
}

.panel_player_hand_image_style
{
    width: 32px;
    height: 64px;
    margin: 2px 1px;
}

.panel_player_log_hand_image_style
{
    width: 8px;
    height: 16px;
    margin: 1px 1px;
}

.panel_player_command
{
    background: #444;
}

.panel_player_log_value
{
    color: #999;
    background: #333;
    font-size: x-small;
    margin-top: 4px;
}

.panel_player_log_unit
{
    margin: 1px;
    padding: 2px;
    background-color: #444;
    display: flex;
}

.panel_player_log_count
{
    width: 20%;
}

.panel_player_log_hand
{
    vertical-align: middle;
    width: 20%;
}

.panel_player_log_action
{
    font-size: xx-small;
}

.panel_player_position_value
{
    background: #222;
    color: #ddd;
    margin-top: 2px;
    margin-bottom: 4px;
    border-radius: 8px;
    box-shadow: inset 0 0 4px #000;
    display: flex;
}

.panel_player_position_name
{
    width: 80%;
    text-align: center;
    font-weight: bold;
}

.panel_player_position_dealer_button
{
    width: 10%;
    background: #222;
}

.panel_player_position_dealer_button_have
{
    background-image: url("../Assets/UI/dealer_button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.panel_player_position_exist
{
    width: 10%;
    background: #222;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.panel_player_position_exist_alive
{
    background-image: url("../Assets/UI/player_alive.png");
}

.panel_player_position_exist_seat_open
{
    background-image: url("../Assets/UI/player_seatopen.png");
}

.panel_player_action_input
{
    color: #999;
    background: #333;
    font-size: x-small;
    margin-top: 4px;
}
