#all
{
    background-color:white;
}

#sector_command
{
    background-color:aquamarine;
    padding: 4px;
    margin: 4px;
}

#sector_player
{
    background-color: forestgreen;
    padding: 4px;
    margin: 4px;
}

.panel_player
{
    background-color: white;
    border: 1px solid black;
    padding: 4px;
    margin: 4px;
    width: 100px;
}

.panel_player_name_value
{
    background-color: gray;
}

.panel_player_hand_value
{
    background-color: gray;
}

.panel_player_hand_image_style
{
    width: 32px;
    height: 64px;
}
