#all
{
    background-color:white;
}

/* 全体構成 */
.poker_browser
{
    display: flex;
}
.poker_browser_control
{
    width: 320px;
}
.poker_browser_display
{
    background: #0f0;
    padding: 8px;
    flex: 1;
}

/* コンテンツ */
.tab-content 
{
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}
.tab-content.active 
{
    display: block;
}

/* 汎用部品 */
.template_card_hand
{
    width: 24px;
    height: 48px;
    margin-top: 2px;
    margin-left: 2px;
}
.template_card_hand_small
{
    width: 16px;
    height: 32px;
    margin-top: 2px;
    margin-left: 2px;
}


/* アクティブ表示 */
.command_active
{
    outline: none;
    background-color: #fdd;
    box-shadow: none;
}
.command_active:hover
{
    outline: #000;
    background-color: #faa;
    box-shadow: none;
}
.command_active:active {
    outline: none;
    background-color: #f88;
    box-shadow: 0 0 0 1px #fdd;
}

/* 非アクティブ表示 */
.command_inactive
{
    outline: none;
    background-color: #999;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: none;
}
.command_inactive:hover
{
    outline: #000;
    background-color: #777;
    box-shadow: none;
}
.command_inactive:active {
    outline: none;
    background-color: #444;
    box-shadow: 0 0 0 1px #333;
}

/* Chrome, Safari, Edge (WebKit系) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
