.TEMPLATE_MONITORPLAYER_PANEL
{
    position: relative;
}
.TEMPLATE_MONITORPLAYER_PANEL.seatopen
{
    display: none;
}
.TEMPLATE_MONITORPLAYER_PANEL_DRAGABLE_ROOT
{
    position: absolute;
    touch-action: none;                /* スクロールよりドラッグを優先 */
    transform: translate(0,0);         /* 以後は translate で動かす */
}
.TEMPLATE_MONITORPLAYER_PANEL_LAYOUT_ROOT
{
    position: relative;   /* 基準にする */
    background: #cff;
    width: 140px;
    height: 78px;
    margin: 1px;
    font-size: 8px;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: #88f;
}
.TEMPLATE_MONITORPLAYER_PANEL_LAYOUT_ROOT.fold
{
    background: #444;
    border-color: #222;
}
.TEMPLATE_MONITORPLAYER_PANEL_LAYOUT_ROOT.aggressive
{
    background: #ffc;
    border-color: #ff4;
}
.TEMPLATE_MONITORPLAYER_PANEL_LAYOUT_ROOT.allin
{
    background: #fcc;
    border-color: #f00;
}
.TEMPLATE_MONITORPLAYER_PANEL_LAYOUT_ROOT.active-player
{
    background: #ff8;
    border-color: #fa0;
}


.TEMPLATE_MONITORPLAYER_PANEL_NAME_VALUE
{
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 80%;
    top: 44px;
    left: 20%;
}

.TEMPLATE_MONITORPLAYER_PANEL_WINRATE_VALUE
{
    position: absolute;
    top: 4px;
    left: 50px;
    font-size: 12px;
    font-weight: bold;
}

.TEMPLATE_MONITORPLAYER_PANEL_ACTION_VALUE
{
    position: absolute;
    top: 24px;
    left: 50px;
    font-size: 12px;
}

.TEMPLATE_MONITORPLAYER_PANEL_HOLECARD
{
    position: absolute;
    left: 4px;
    top: 4px;
}

.TEMPLATE_PROBEPLAYER_PANEL_CONTROL_POSITION
{
    position: absolute;
    width: 55px;
}

.TEMPLATE_MONITORPLAYER_PANEL_HOLECARD_VALUE
{
}

.TEMPLATE_MONITORPLAYER_PANEL_POSITION_VALUE
{    
    position: absolute;
    top: 44px;
    width: 20%;
    font-weight: bold;
    font-size: 10px;
}

.TEMPLATE_MONITORPLAYER_PANEL_GROUP_NORMAL
{
}

.TEMPLATE_MONITORPLAYER_PANEL_HANDNAME_VALUE
{
    position: absolute;
    top: 42px;
    left: 4px;
    width: 132px;
    font-weight: bold;
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TEMPLATE_MONITORPLAYER_PANEL_KICKERNAME_VALUE
{
    position: absolute;
    top: 53px;
    left: 4px;
    width: 132px;
    font-size: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TEMPLATE_MONITORPLAYER_PANEL_GROUP_STATS
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.TEMPLATE_MONITORPLAYER_PANEL_STATS_HANDCOUNT_VALUE
{
    position: absolute;
    top: 2px;
    left: 55px;
    font-size: 8px;
}

.TEMPLATE_MONITORPLAYER_PANEL_STATS_VPIP_VALUE
{
    position: absolute;
    top: 12px;
    left: 55px;
    font-size: 8px;
}

.TEMPLATE_MONITORPLAYER_PANEL_STATS_PFR_VALUE
{
    position: absolute;
    top: 22px;
    left: 55px;
    font-size: 8px;
}

.TEMPLATE_MONITORPLAYER_PANEL_STATS_3BET_VALUE
{
    position: absolute;
    top: 32px;
    left: 55px;
    font-size: 8px;
}

.TEMPLATE_MONITORPLAYER_PANEL_STATS_HANDRANGE_CANVAS
{
    position: absolute;
    top: 2px;
    left: 4px;
    width: 45px;
    height: 45px;
    display: block;
}
