.TEMPLATE_MONITORPLAYER_PANEL
{
    position: relative;
}
.TEMPLATE_MONITORPLAYER_PANEL.seatopen
{
    display: none;
}
.TEMPLATE_MONITORPLAYER_PANEL_DRAGABLE_ROOT
{
    position: absolute;
    touch-action: none;                /* スクロールよりドラッグを優先 */
    transform: translate(0,0);         /* 以後は translate で動かす */
}
.TEMPLATE_MONITORPLAYER_PANEL_LAYOUT_ROOT
{
    position: relative;   /* 基準にする */
    background: #cff;
    width: 80px;
    height: 60px;
    margin: 1px;
    font-size: 8px;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: #88f;
}
.TEMPLATE_MONITORPLAYER_PANEL_LAYOUT_ROOT.fold
{
    background: #444;
    border-color: #222;
}
.TEMPLATE_MONITORPLAYER_PANEL_LAYOUT_ROOT.aggressive
{
    background: #ffc;
    border-color: #ff4;
}
.TEMPLATE_MONITORPLAYER_PANEL_LAYOUT_ROOT.allin
{
    background: #fcc;
    border-color: #f00;
}
.TEMPLATE_MONITORPLAYER_PANEL_LAYOUT_ROOT.active-player
{
    background: #ff8;
    border-color: #fa0;
}


.TEMPLATE_MONITORPLAYER_PANEL_NAME_VALUE
{
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    top: 40px;
}

.TEMPLATE_MONITORPLAYER_PANEL_WINRATE_VALUE
{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 10px;
}

.TEMPLATE_MONITORPLAYER_PANEL_ACTION_VALUE
{
    position: absolute;
    top: 20px;
}

.TEMPLATE_MONITORPLAYER_PANEL_HOLECARD
{
    position: absolute;
    left: 20px;
    top: 10px;
}

.TEMPLATE_PROBEPLAYER_PANEL_CONTROL_POSITION
{
    position: absolute;
    width: 55px;
}

.TEMPLATE_MONITORPLAYER_PANEL_HOLECARD_VALUE
{
}

.TEMPLATE_MONITORPLAYER_PANEL_POSITION_VALUE
{    
    font-weight: bold;
    font-size: 10px;
}

.TEMPLATE_MONITORPLAYER_PANEL_GROUP_NORMAL
{
}

.TEMPLATE_MONITORPLAYER_PANEL_GROUP_STATS
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.TEMPLATE_MONITORPLAYER_PANEL_STATS_VPIP_VALUE
{
    position: absolute;
    top: 20px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}