/* 開発エリア */
.develop
{
    display: flex;
    align-items: center;
    border: 1px solid red;
}

.DEVELOP_COMMAND_BUTTON
{
    width: 60px;
}

.DEVELOP_EXCLUDE_FROM_STATS_STATUS
{
    margin-left: 4px;
    font-weight: bold;
    color: green;
}

.DEVELOP_EXCLUDE_FROM_STATS_STATUS.excluded
{
    color: red;
}