.TEMPLATE_MONITORDEALER_PANEL
{
    position: relative;
}


.TEMPLATE_MONITORDEALER_PANEL_DRAGABLE_ROOT
{
    position: absolute;
    touch-action: none;                /* スクロールよりドラッグを優先 */
    transform: translate(0,0);         /* 以後は translate で動かす */
}


.TEMPLATE_MONITORDEALER_PANEL_LAYOUT_ROOT
{
    position: relative;   /* 基準にする */
    background: #efd;
    width: 160px;
    height: 60px;
    margin: 1px;
    font-size: 8px;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: #080;
}


.TEMPLATE_MONITORDEALER_PANEL_BOARD
{
    position: absolute;   /* 親を基準に */
    display: flex;     /* 横並び */
    top: 10px;
    margin: 0px 20px;
}


.TEMPLATE_MONITORDEALER_PANEL_HANDCOUNT
{
    position: absolute;   /* 親を基準に */
    font-size: 8px;
    text-align: center;
    width: 100%;
    top: 45px;
}


.TEMPLATE_MONITORDEALER_PANEL_BLIND
{
    position: absolute;   /* 親を基準に */
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.TEMPLATE_MONITORDEALER_PANEL_STATS_BUTTON
{
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 8px;
    padding: 1px 4px;
    cursor: pointer;
}
