.TEMPLATE_PROBEDEALER_PANEL
{
    position: relative;   /* 基準にする */
    background: #cff;
    width: 400px;
    height: 80px;
    margin: 2px;
    font-size: 8px;
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    border-color: #cff;
}

.TEMPLATE_PROBEDEALER_PANEL_STATUS
{
    position: absolute;   /* 親を基準に */
    display: flex;     /* 横並び */
    top: 0px;
    left: 70px;
}

.TEMPLATE_PROBEDEALER_PANEL_BATTERY
{
    position: absolute;   /* 親を基準に */
    display: flex;     /* 横並び */
    top: 0px;
    left: 100px;
}

.TEMPLATE_PROBEDEALER_PANEL_BOARD
{
    position: absolute;   /* 親を基準に */
    display: flex;     /* 横並び */
    top: 0px;
    left: 130px;
}


.TEMPLATE_PROBEDEALER_PANEL_FLOP_VALUE
{
    position: absolute;   /* 親を基準に */
    left: 60px;
    width: 100px;
}


.TEMPLATE_PROBEDEALER_PANEL_TURN_VALUE
{
    position: absolute;   /* 親を基準に */
    left: 30px;
}

.TEMPLATE_PROBEDEALER_PANEL_RIVER_VALUE
{
    position: absolute;   /* 親を基準に */
    left: 0px;
}

.TEMPLATE_PROBEDEALER_PANEL_LASTUPDATE
{
    position: absolute;   /* 親を基準に */
    display: flex;     /* 横並び */
    top: 20px;
    left: 10px;
}



.TEMPLATE_PROBEDEALER_PANEL_BLIND
{
    position: absolute;   /* 親を基準に */
    display: flex;     /* 横並び */
    top: 20px;
    left: 10px;
}


.TEMPLATE_PROBEDEALER_PANEL_BLIND_SELECT
{
    font-size: 8px;
    margin: 0px 2px;
    max-width: 120px;
}


.TEMPLATE_PROBEDEALER_PANEL_HANDCOUNT
{
    position: absolute;   /* 親を基準に */
    display: flex;     /* 横並び */
    left: 10px;
}


.TEMPLATE_PROBEDEALER_PANEL_HANDCOUNT_LABEL
{
    font-size: 6px;
}


.TEMPLATE_PROBEDEALER_PANEL_HANDCOUNT_INPUT
{
    font-size: 10px;
    font-weight: bold;
    width: 35px;
}

.TEMPLATE_PROBEDEALER_PANEL_LASTUPDATE
{
    position: absolute;   /* 親を基準に */
    display: flex;     /* 横並び */
    top: 0px;
    left: 320px;
    font-size: 8px;
}

.TEMPLATE_PROBEDEALER_PANEL_BETTINGROUND
{
    position: absolute;   /* 親を基準に */
    display: flex;     /* 横並び */
    top: 40px;
    left: 10px;
}

.TEMPLATE_PROBEDEALER_PANEL_CONTROL
{
    position: absolute;   /* 親を基準に */
    display: flex;     /* 横並び */
    top: 60px;
    left: 10px;
}

.TEMPLATE_PROBEDEALER_PANEL_DECKLIST
{
    position: absolute;   /* 親を基準に */
    top: 0px;
    right: 4px;
}

.CARD_LIST_GRID
{
    display: grid;
    grid-template-columns: repeat(13, 10px);
    gap: 0;
}

.CARD_LIST_ITEM
{
    width: 10px;
    height: 20px;
}