#all
{
    background-color:white;
}

/* 全体構成 */
.poker_browser
{
    display: flex;
}
.poker_browser_control
{
    width: 320px;
}
.poker_browser_display
{
    background: #0f0;
    flex: 1;
}

/* コンテンツ */
.tab-content 
{
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}
.tab-content.active 
{
    display: block;
}

/* 汎用部品 */
.template_card_hand
{
    width: 32px;
    height: 64px;
    margin: 2px 1px;
}
.template_card_hand_small
{
    width: 16px;
    height: 32px;
    margin: 2px 1px;
}


/* 現在のユーザーのハンドパネル */
.template_panel_user_current_hand_base
{
    position: relative;   /* 基準にする */
    background: #000;
    width: 300px;
    height: 80px;
}
.template_panel_user_current_hand_value_name
{
    position: absolute;   /* 親を基準に */
    top: 30px;
    left: 30px;
    color: #fff;
}
.template_panel_user_current_hand_value_position
{
    position: absolute;   /* 親を基準に */
    top: 10px;
    left: 10px;
    color: #fff;
}
.template_panel_user_current_hand_value_winrate
{
    position: absolute;   /* 親を基準に */
    top: 50px;
    left: 140px;
    color: #fff;
}
.template_panel_user_current_hand_value_hand
{
    position: absolute;   /* 親を基準に */
    top: 8px;
    left: 180px;
    color: #fff;
}


/* 現在のプローブコントロールパネル */
.template_panel_probe_base
{
    position: relative;   /* 基準にする */
    background: #cff;
    width: 300px;
    height: 40px;
    margin: 2px;
    font-size: 8px;
}
.template_panel_probe_base.button
{
    background: #8ff;
}
.template_panel_probe_base.utg
{
    background: #8f8;
}
.template_panel_probe_base.allin
{
    background: #faa;
}
.template_panel_probe_base.fold
{
    background: #999;
}
.template_panel_probe_base.dead
{
    color: #aaa;
    background: #444;
}

.template_panel_probe_value_seat
{
    position: absolute;   /* 親を基準に */
    left: 8px;
}
.template_panel_probe_value_seat_id_value
{
    font-size: 12px;
    font-weight: bold;
}
.template_panel_probe_value_seat_name_input
{
    font-size: 8px;
}

.template_panel_probe_value_hand
{
    position: absolute;   /* 親を基準に */
    left: 120px;
}
.template_panel_probe_value_rssi
{
    position: absolute;   /* 親を基準に */
    top: 0px;
    left: 42px;
}
.template_panel_probe_value_battery
{
    position: absolute;   /* 親を基準に */
    top: 0px;
    left: 70px;
}
.template_panel_probe_command_fold
{
    position: absolute;   /* 親を基準に */
    top: 4px;
    left: 188px;
    width: 32px;
    height: 32px;
    font-size: 8px;
}
.template_panel_probe_command_allin
{
    position: absolute;   /* 親を基準に */
    top: 4px;
    left: 222px;
    width: 32px;
    height: 32px;
    font-size: 8px;
}
.template_panel_probe_command_position
{
    position: absolute;   /* 親を基準に */
    top: 4px;
    left: 256px;
    width: 40px;
    height: 16px;
    font-size: 8px;
}
.template_panel_probe_command_alive
{
    position: absolute;   /* 親を基準に */
    top: 20px;
    left: 256px;
    width: 40px;
    height: 16px;
    font-size: 8px;
}
