.template_panel_dealer_view_base
{
    position: relative;
}

.template_panel_dealer_view_drag
{
    position: absolute;
    touch-action: none;                /* スクロールよりドラッグを優先 */
    transform: translate(0,0);         /* 以後は translate で動かす */
}

.template_panel_dealer_view_layout_base
{
    position: relative;
    background: #030;
    border-radius: 6px;
    width: 200px;
    height: 80px;
}

.template_panel_dealer_view_flop
{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}

.template_panel_dealer_view_turn
{
    position: absolute;
    top: 10px;
    left: 115px;
}

.template_panel_dealer_view_river
{
    position: absolute;
    top: 10px;
    left: 160px;
}

.template_panel_dealer_view_pot_label
{
    position: absolute;
    font-size: 10px;
    color: #fff;
    top: 60px;
    left: 40px;
}
.template_panel_dealer_view_pot_value
{
    position: absolute;
    font-size: 12px;
    color: #ff0;
    top: 57px;
    left: 70px;
    width: 60px;
    text-align: right;
}
.template_panel_dealer_view_blind_value
{
    position: absolute;
    font-size: 8px;
    color: #aaa;
    top: 2px;
    left: 40px;
}