/* 現在のユーザーのハンドパネル */
.template_panel_user_current_hand_base
{
    position: relative;
}
.template_panel_user_current_hand_base.seatopen
{
    display: none;    
}
.template_panel_user_current_hand_drag
{
    position: absolute;
    touch-action: none;                /* スクロールよりドラッグを優先 */
    transform: translate(0,0);         /* 以後は translate で動かす */
/*
    width: 200px;
    height: 80px;
*/
}
.template_panel_user_current_hand_layout_base
{
    position: relative;
}

.template_panel_user_current_hand_infos
{
    background: #030;
    border: 2px solid #ff8;
    border-radius: 6px;
    width: 200px;
    height: 54px;
}
.template_panel_user_current_hand_infos.fold
{
    background: #000;
    border: 1px solid black;
}
.template_panel_user_current_hand_infos.allin
{
    background: #400;
    border: 2px solid #800;
}

.template_panel_user_current_hand_value_name
{
    position: absolute;   /* 親を基準に */
    top: 20px;
    left: 10px;
    color: #fff;
}
.template_panel_user_current_hand_value_name.fold
{
    color: #666;
}


.template_panel_user_current_hand_value_position
{
    position: absolute;   /* 親を基準に */
    top: 2px;
    left: 5px;
    font-size: 12px;
    color: #aaa;
}
.template_panel_user_current_hand_value_winrate
{
    position: absolute;   /* 親を基準に */
    top: 2px;
    left: 90px;
    width: 50px;
    color: #ff0;
    text-align: right;
}
.template_panel_user_current_hand_value_hand
{
    position: absolute;   /* 親を基準に */
    top: 2px;
    left: 140px;
    color: #fff;
}
.template_panel_user_current_hand_value_hand.fold
{
    opacity: 30%;    
}
